.modal {
  position: relative;
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}

.modal::backdrop {
  background: hsl(0 0% 0% / 15%);
}

.modal-content {
  padding: 5px;
}

.modal-close-btn {
  font-size: 1em;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}
